apiVersion: v1
kind: Secret
metadata:
  name: aws-secret
type: Opaque
data:
  AWS_ACCESS_KEY_ID: QUtJQVNNUVNIR1VVWlJNNEZCVjc=
  AWS_SECRET_ACCESS_KEY: Q2ZEbkZOR3lUSVZkZHRFZ1ZtQ2FodjVxb2hJV2U0SmIzWmpLYzQwRQ==
